$cl-white: #ffffff;
$cl-black: #000000;

$cl-regent-grey: #8899a6;
$cl-outer-space: #292f33;

$cl-pale-sky: #66757f;

$cl-bondi-blue: #0084B4;

$cl-athens-grey: #edeef1;

$cl-wild-sand: #f6f6f6;

$cl-big-stone: #142236;