.comp-twitter-widget {
  margin-top: 220px;
  position: relative;
  transition: opacity 1s;
  opacity: 0;

  @include responsive(mobile) {
    margin-top: 10px;
    min-height: 250px;
    opacity: 1;
  }

  @include  responsive(mobile-landscape) {
    margin-top: -8px;
  }

  &.fadeOut {
    opacity: 0;
    @include responsive(mobile) {
      opacity: 1;
    }
  }

  &.fadeIn {
    opacity: 1;
  }

  .twitter-widget-loader-container {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: relative;

    .twitter-widget-loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 77px;
      height: 77px;
      color: $cl-white;

      .spinner {
        margin: 100px auto;
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 10px;

        div {
          background-color: $cl-white;
          height: 100%;
          width: 6px;
          display: inline-block;
          margin: 0 3px 0 0;

          -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }

        .rect2 {
          -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
        }

        .rect3 {
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
        }

        .rect4 {
          -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
        }

        .rect5 {
          -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
        }
      }


      @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
        20% { -webkit-transform: scaleY(1.0) }
      }

      @keyframes sk-stretchdelay {
        0%, 40%, 100% {
          transform: scaleY(0.4);
          -webkit-transform: scaleY(0.4);
        }  20% {
             transform: scaleY(1.0);
             -webkit-transform: scaleY(1.0);
           }
      }

    }
  }

  .twitter-error-container {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: relative;

    .twitter-error {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 50%;
      height: 82px;
      color: $cl-white;
      text-align: center;

      .fa {
        display: block;
        font-size: 26px;
        padding: 10px;
      }
    }
  }

  .twitter-widget-wrapper {
    margin: 100px auto;
    max-width: 500px;
    min-width: 22px;
    width: 100%;
    position: relative;
    padding: 15px;

    @include responsive(mobile) {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }

  }

}