.tweet-profile-wrapper {
  height: 172px;
  position: relative;

  @include  responsive(mobile-landscape) {
    height: 125px;
  }

  .profile-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    background-color: $cl-athens-grey;

    img {
      width: 55vw;
      height: auto;
      transform: translateY(-15%);
      object-fit: cover;
      filter:brightness(60%);
    }
    @include responsive(mobile) {
      min-height: 125px;
    }
  }

  .tweet-profile-user {
    position: absolute;
    margin-left: 220px;
    margin-top: 218px;
    font-size: $ft-size-40;
    color: $cl-white;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
  }

  .tweet-profile-user-name {
    font-size: 30px;
    font-weight: bold;
    color: $cl-white;
    top: 110px;
    left: 229px;
    position: absolute;

    @include responsive(mobile) {
      font-size: 26px;
      top: 60px;
      left: 120px;
    }

    @include  responsive(mobile-landscape) {
      top: 38px;
      left: 107px;
    }
  }

  .tweet-profile-white-bar {
    height: 70px;
    width: 100%;
    background-color: $cl-wild-sand;
    position: absolute;
    margin-top: 167px;
    padding-left: 197px;
    padding-top: 22px;
    font-size: 16px;

    @include responsive(mobile) {
      height: 60px;
      padding-left: 15px;
      padding-top: 15px;
      margin-top: 116px;
    }

    @include  responsive(mobile-landscape) {
      margin-top: 80px;
      font-size: 14px;
      padding-left: 14px;
      height: 45px;
    }

    .tweet-profile-user-name {
      position: relative;
      display: none;
      top: auto;
      left: auto;
      font-size: 25px;

    }

    .tweet-profile-divider-bar {

      &.first {
        color: $cl-white;
        display: none;
      }

    }

    .tweet-profile-screen-name {
      color: $cl-pale-sky;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .tweet-profile-content {
    margin-top: 25px;
    position: absolute;

    @include  responsive(mobile-landscape) {
      margin-top: 7px;
    }

    .tweet-profile-avatar {
      float: left;

      img {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: 10px;
        border: 2px solid $cl-white;
        box-shadow: 1px 1px 4px $cl-black;
        background-color: $cl-athens-grey;
        z-index: 2;

        &.tweet-profile-placeholder {
          z-index: 1;
          box-shadow: none;
        }

        @include responsive(mobile) {
          width: 100px;
          height: 100px;
        }

        @include  responsive(mobile-landscape) {
          width: 80px;
          height: 80px;
        }
      }
    }

    .tweet-profile-body {
      float: right;
    }
  }

}
