.container {
  display:table;
  width: 100%;
  padding: 0;
  box-sizing: border-box;

  @include  responsive(mobile-landscape) {
    min-height: 1000px;
  }

  .row {
    height: 100%;
    display: table-row;

    .no-float {
      display: table-cell;
      float: none;
      padding: 0;
      vertical-align: top;
    }

    .col-left {
      border-right: 2px solid #292f33;
      background-color: #c01b33;
    }
    .col-right {
      background: #142236;
    }

  }

  .shuffle-button {
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%);

    @include responsive(mobile) {
      top: 247px;
    }

    @include  responsive(mobile-landscape) {
      top: 157px;
    }

    .white-button {
      background-color: $cl-white;
      border-bottom: 3px solid $cl-big-stone;
      padding: 22px 45px;
      text-transform: uppercase;
      font-weight: bold;
      color: #C0392B;
      font-size: 34px;

      span {
        padding: 0 11px;
      }

      .fa {
        font-size: 17px;
        color: $cl-big-stone;
        vertical-align: top;
        margin-top: 17px;

        @include responsive(mobile) {
          font-size: 14px;
          margin-top: 12px;
        }

      }

      @include responsive(mobile) {
        padding: 16px 35px;
        font-size: 25px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .permalink {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);

    @include  responsive(mobile-landscape) {
      bottom: 5px;
    }
  }
}